extends layout

block content
  section.h-screen.sm_bg-gray-500.lg_bg-blue-300.md_bg-blue-700.flex.items-center
    div.text-center.align-middle.w-full
      h1.text-5xl Felix Villegas
      h2 Lerem itselum
      p  Life its hard but vegetables are harder
  section#servicios.bg-gray-300.py-16
    h1 serviciosjiji
    div.px-16.flex.flex-wrap.justify-center
      div.max-w-sm.rounded-md.overflow-hidden.shadow-lg.bg-gray-100.mb-32.mr-4
        img(src="/images/paris1.jpg", alt="Service1").w-full
        div.px-6.py-4
          div.font-bold.text-xl.mb-2 The Coldest Sunset
            p.text-gray-700.text-base Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
      div.max-w-sm.rounded-md.overflow-hidden.shadow-lg.bg-gray-100.mb-32.mr-4
        img(src="/images/paris1.jpg", alt="Service1").w-full
        div.px-6.py-4
          div.font-bold.text-xl.mb-2 The Coldest Sunset
            p.text-gray-700.text-base Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil. 
      div.max-w-sm.rounded-md.overflow-hidden.shadow-lg.bg-gray-100.mb-32.mr-4
        img(src="/images/paris1.jpg", alt="Service1").w-full
        div.px-6.py-4
          div.font-bold.text-xl.mb-2 The Coldest Sunset
            p.text-gray-700.text-base Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.      
  section.bg-gray-500#portfolio
    h1 portfafoliosjiji
    p seprendiolaquenoseapaga
  section.bg-gray-400#bio
    h1 biosjiji
    p seprendiolaquenoseapaga

