doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title
    link(rel="stylesheet", href="/stylesheets/tailwind.css")
  body.font-sans

    //Start of navbar
    nav#header.fixed.w-full.z-30.top-0.text-white
      div.w-full.container.mx-auto.flex.flex-wrap.items-center.justify-between.mt-0.py-2
        div.pl-4.flex.items-center
          a(href="#")#toggleColour.text-gray-700.no-underline.hover_no-underline.font-bold.text-2xl.lg_text-4xl  LANDING
        div.block.lg_hidden.pr-4
          button#nav-toggle.flex.items-center.p-1.text-orange-800.hover_text-gray-900
        div.w-full.flex-grow.lg_flex.lg_items-center.lg_w-auto.hidden.lg_block.mt-2.lg_mt-0.bg-white.lg_bg-transparent.text-black.p-4.lg_p-0.z-20#nav-content
          ul.list-reset.lg_flex.justify-end.flex-1.items-center
            li.mr-3
              a(href="#servicios").inline-block.py-2.px-4.text-black.font-bold.no-underline Servicios
            li.mr-3
              a(href="#portfolio").inline-block.text-black.no-underline.hover_text-gray-900.hover_text-underline.py-2.px-4 Muestras
            li.mr-3
              a(href="#bio").inline-block.text-black.no-underline.hover_text-gray-800.hover_text-underline.py-2.px-4 Bio
          a(href="#footer")#navAction.mx-auto.lg_mx-0.hover_underline.bg-white.text-gray-800.font-bold.rounded-full.mt-4.lg_mt-0.py-4.px-8.shadow.opacity-75 Contacto
      hr.border-b.border-gray-100.opacity-50.my-0.py-0
    // End of navbar

    block content

    // Start of footer

    footer.bg-white#footer
     div.container.mx-ato.px-8
       div.w-full.flex.flex-col.md_flex-row.py-6
         div.flex-1.mb-6
            a(href="#").text-orange-600.no-underline.hover_no-underline.font-bold.text-2xl.lg_text-4xl FOOTER
         div.flex-1
            p.uppercasetext-gray-500md_mb-6 Linksp
            ul.list-reset.mb-6
              li.mt-2.inline-block.mr-2.md_block.md_mr-0
                a(href="#").no-underline.hover_underline.text-gray-800.hover_text-orange-500 FOOTER
              li.mt-2.inline-block.mr-2.md_block.md_mr-0
                a(href="#").no-underline.hover_underline.text-gray-800.hover_text-orange-500 FOOTER
              li.mt-2.inline-block.mr-2.md_block.md_mr-0
                a(href="#").no-underline.hover_underline.text-gray-800.hover_text-orange-500 FOOTER
         div.flex-1
            p.uppercasetext-gry-500md_mb-6 FOOTER
            ul.list-reset.mb-6
              li.mt-2.inline-block.mr-2.md_block.md_mr-0
                a(href="#").no-underline.hover_underline.text-gray-800.hover_text-orange-500 FOOTER
              li.mt-2.inline-block.mr-2.md_block.md_mr-0
                a(href="#").no-underline.hover_underline.text-gray-800.hover_text-orange-500 FOOTER
         div.flex-1
            p.uppercase.text-gray-500.md_mb-6 FOOTER
            ul.list-reset.mb-6
              li.mt-2.inline-block.mr-2.md_block.md_mr-0
                a(href="#").no-underline.hover_underline.text-gray-800.hover_text-orange-500 FOOTER
              li.mt-2.inline-block.mr-2.md_block.md_mr-0
                a(href="#").no-underline.hover_underline.text-gray-800.hover_text-orange-500 FOOTER
              li.mt-2.inline-block.mr-2.md_block.md_mr-0
                a(href="#").no-underline.hover_underline.text-gray-800.hover_text-orange-500 FOOTER
         div.flex-1
            p.uppercase.text-gray-500.md_mb-6 FOOTER
            ul.list-reset.mb-6
              li.mt-2.inline-block.mr-2.md_block.md_mr-0
                a(href="#").no-underline.hover_underline.text-gray-800.hover_text-orange-500 FOOTER
              li.mt-2.inline-block.mr-2.md_block.md_mr-0
                a(href="#").no-underline.hover_underline.text-gray-800.hover_text-orange-500 FOOTER
              li.mt-2.inline-block.mr-2.md_block.md_mr-0
                a(href="#").no-underline.hover_underline.text-gray-800.hover_text-orange-500 FOOTER
//JS


script.
  var scrollpos = window.scrollY;
  var header = document.getElementById('header');
  var navcontent = document.getElementById('nav-content');
  var navaction = document.getElementById('navAction');
  var brandname = document.getElementById('brandname');
  var toToggle = document.getElementById('toggleColour');
  console.log(toToggle.classList,"hi im totoggle");
  document.addEventListener('scroll', function () {
    /*Apply classes for slide in bar*/
    scrollpos = window.scrollY;
    if (scrollpos > 10) {
      header.classList.add('bg-white');
      navaction.classList.remove('bg-white');
      navaction.classList.add('gradient');
      navaction.classList.remove('text-gray-800');
      navaction.classList.add('text-gray-500');
      //Use to switch toggleColour colours
      toToggle.classList.add('text-gray-500');
      toToggle.classList.remove('text-gray-700');
      
      header.classList.add('shadow');
      navcontent.classList.remove('bg-gray-100');
      navcontent.classList.add('bg-white');
    } else {
      header.classList.remove('bg-white');
      navaction.classList.remove('gradient');
      navaction.classList.add('bg-white');
      navaction.classList.remove('text-white');
      navaction.classList.add('text-gray-800');
      //Use to switch toggleColour colours
      toToggle.classList.add('text-gray-800');
      toToggle.classList.remove('text-gray-500');
      //

      header.classList.remove('shadow');
      navcontent.classList.remove('bg-white');
      navcontent.classList.add('bg-gray-100');
    }
  });

script.
  /*Toggle dropdown list*/
  /*https_//gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

  var navMenuDiv = document.getElementById('nav-content');
  var navMenu = document.getElementById('nav-toggle');

    document.onclick = check;
    function check(e) {
      var target = (e && e.target) || (event && event.srcElement);
  function checkParent(t, elm) {
    while (t.parentNode) {
      if (t == elm) {
        return true;
      }
      t = t.parentNode;
    }
    return false;
  }
  //Nav Menu
      if (!checkParent(target, navMenuDiv)) {
        // click NOT on the menu
        if (checkParent(target, navMenu)) {
          // click on the link
          if (navMenuDiv.classList.contains('hidden')) {
            navMenuDiv.classList.remove('hidden');
          } else {
            navMenuDiv.classList.add('hidden');
          }
        } else {
          // click both outside link and outside menu, hide menu
          navMenuDiv.classList.add('hidden');
        }
      }
    }

