doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title
    link(rel="stylesheet", href="/stylesheets/tailwind.css")
  body.font-sans
    nav.bg-teal-500 hi im navbar
    block content
    footer.bg-teal-500 hi im footer
    